{{ define "title" }}Login{{ end }}

{{ define "scripts" }}
<script type="module">
    import createLogin from {{versioning "/static/js/components/login.js"}}
    import createModal from {{versioning "/static/js/components/modal.js"}}

    let m = createModal()
    let l = createLogin(m)

    document.addEventListener('alpine:init', () => {
        Alpine.data('modal', () => { return m })
        Alpine.data('login', () => { return l })
    })
</script>
{{ end }}

{{ define "content" }}
<h1><a class="no-bottom" href="/">Tanuki</a></h1>
<div x-data="login">
    <!-- Login Form -->
    <div class="flex--row">
        <h3 class="flex__key--centered flex__key--less-padding">Username:</h3>
        <label class="flex__key--centered flex__key--less-padding"><input type="text" placeholder="Username" x-model="username"></label>
    </div>
    <div class="flex--row">
        <h3 class="flex__key--centered">Password:</h3>
        <label class="flex__key--centered"><input type="password" placeholder="Password" x-model="password" x-bind='password_field'></label>
    </div>
    <button x-bind="login_btn">Login</button>
    <!-- Modal -->
    <div x-data="modal" x-bind="modal_bg" class="modal" x-cloak>
        <div x-bind="modal_content" class="modal__content" x-transition>
            <span class="modal__close-button" x-bind="modal_close">&times;</span>
            <h3 x-text="response"></h3>
        </div>
    </div>
</div>
{{ end }}