{{ define "title" }}Login{{ end }}

{{ define "scripts" }}
<script type="module">
    import * as API from {{ versioning "/static/js/api.js" }}

    document.addEventListener('alpine:init', () => {
        Alpine.data('login', () => ({
            username: '',
            password: '',
            modalText: '',
            modalVisible: false,

            async login() {
                await API.Auth.Login(this.username, this.password)
                .then(() => {
                    window.location.replace('/')
                })
                .catch(() => {
                    this.modalText = 'LOGIN FAILED'
                    this.showModal()
                })
            },

            showModal() { this.modalVisible = true },
            hideModal() { this.modalVisible = false }
        }))
    })
</script>
{{ end }}

{{ define "content" }}
<h1><a class="no-bottom" href="/">Tanuki</a></h1>
<div x-data="login">
    <!-- Login Form -->
    <div class="flex--row">
        <h3 class="flex__key--centered flex__key--less-padding">Username:</h3>
        <label class="flex__key--centered flex__key--less-padding"><input type="text" placeholder="Username" x-model="username"></label>
    </div>
    <div class="flex--row">
        <h3 class="flex__key--centered">Password:</h3>
        <label class="flex__key--centered"><input type="password" placeholder="Password" x-model="password" @keyup.enter="await login()"></label>
    </div>
    <button @click="await login()">Login</button>
    <!-- Modal -->
    <div x-cloak>
        <div x-show="modalVisible" class="modal" @keyup.escape.document="hideModal()">
            <div @click.away="showModal()" x-show="modalVisible" x-transition class="modal__content">
                <span class="modal__close-button" @click="hideModal()">&times;</span>
                <h3 x-text="modalText"></h3>
            </div>
        </div>
    </div>
</div>
{{ end }}