.idea
/bin
/config
/data
/library
/licenses
/files/minified/templates
/files/minified/static/css
/files/minified/static/js/components
/files/minified/static/js/api.js
/files/minified/static/js/mangadex.js
/files/minified/static/js/theme.js
/files/minified/static/js/util.js
/files/minified/static/icon
docker-compose.yml
Dockerfile
Makefile
README.md
LICENSE.md