<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block "title" . }}{{ end }}</title>
    <link rel="stylesheet" href='{{versioning "/static/css/style.css"}}'>
    <link rel="stylesheet" href='{{versioning "/static/css/fira_mono.css"}}'>
    <script src='{{versioning "/static/js/theme.js"}}'></script>
    <script type="module">
        import logout from {{versioning "/static/js/components/logout.js"}}
        import navbar from {{versioning "/static/js/components/navbar.js"}}
        document.addEventListener('alpine:init', () => {
            Alpine.data('logout', logout)
            Alpine.data('navbar', navbar)
        })
    </script>
    {{ block "styles" . }}{{ end }}
    {{ block "scripts" . }}{{ end }}
    <script defer src='{{versioning "/static/js/alpine.js"}}'></script>
</head>
<body>
    <div class="container" x-data="navbar">
        <div class="header" >
            <svg x-show="smallMedia" @click="showNavbar = !showNavbar" width="20" height="20" style="margin-block-start: 0.3em"
                 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="navbar-toggle-icon">
                <rect y="9" width="20" height="2"></rect>
                <rect y="3" width="20" height="2"></rect>
                <rect y="15" width="20" height="2"></rect>
            </svg>
            <nav x-show="showNavbar" class="flex--col" style="row-gap: 0">
                <div class="flex--col">
                    <h1 :class="smallMedia ? 'flex__key--centered' : ''"><a class="no-bottom" href="/">Tanuki</a></h1>
                </div>
                <div class="flex--col flex--row" :style="`flex-direction: ${smallMedia ? 'column' : 'row'}`">
                    <div class="flex__key--centered">→ <a href="/">Home</a></div>
                    <div class="flex__key--centered">→ <a href="/tags">Tags</a></div>
                    <div class="flex__key--centered"><span x-data="{ admin: {{ admin . }} }" x-show="admin" x-cloak>
                    → <a href="/admin">Admin</a>
                    </span></div>
                    <div class="flex__key--centered">→ <a x-data="logout" x-bind="logout" href="javascript:void(0)">Logout</a></div>
                    <div class="flex__key--centered"><button x-data style="align-self: flex-end" @click="toggleTheme()">Change Theme 🎨</button></div>
                </div>
            </nav>
        </div>
        <div class='main'>
            {{ block "content" . }}{{ end }}
        </div>
    </div>
</body>
</html>