{{ define "title" }}Home{{ end }}

{{ define "scripts" }}
<script>
    // Tags added via a script tag instead of only
    // x-data because otherwise the tempalating engine
    // does not marshal each entry in tags as a string
    document.addEventListener('alpine:init', () => {
        Alpine.data('tags', () => ({
            tags: {{ tags }},
        }))
    })
</script>
{{ end }}

{{ define "content" }}
<div x-data="tags">
    <template x-if="tags.length > 0">
        <h2>Tags</h2>
    </template>
    <template x-if="tags.length === 0">
        <h3>Empty!</h3>
    </template>

    <template x-for="tag in tags" :key="tag">
        <div class="flex_div">
            <span class="flex_key_unpadded">⦿ <a :href="'/tags/' + tag" style="line-height: 1.8em; align-self: auto" x-text="tag"></a></span>
        </div>
    </template>
</div>
{{ end }}