{{ define "title" }}Admin{{ end }}

{{ define "scripts" }}
<script type="module">
    import * as API from {{ versioning "/static/js/api.js" }}

    document.addEventListener('alpine:init', () => {
        Alpine.data('dashboard', () => ({
            scanResult: "",
            showScanResult: false,
            thumbnailsResult: "",
            showThumbnailsResult: false,

            async thumbnails() {
                await API.Admin.GenerateThumbnails()
                    .then(resp => {
                        this.thumbnailsResult = `Success!, ${resp.message}`
                    })
                    .catch(() => {
                        this.thumbnailsResult = "Failure!"
                    })

                this.showThumbnailsResult = true
            },

            async scan() {
                await API.Admin.ScanLibrary()
                    .then(resp => {
                        this.scanResult = `Success!, ${resp.message}`
                    })
                    .catch(() => {
                        this.scanResult = "Failure!"
                    })

                this.showScanResult = true
            }
        }))
    })
</script>
{{ end }}

{{ define "content" }}
<div x-data="dashboard">
    <h2>Admin</h2>
    <div class="flex--row">
        <span class="flex__key--centered flex__key--list">⦿ <a href="/admin/users">User Management</a></span>
    </div>
    <div class="flex--row">
        <span class="flex__key--centered flex__key--list">⦿ <a href="/api/admin/db">View Database</a></span>
    </div>
    <div class="flex--row">
        <span class="flex__key--centered flex__key--list">⦿ <a href="/admin/missing-items">Missing Items</a></span>
    </div>
    <div class="flex--col flex--no-gap">
        <span>⦿ <a class="flex__key--list" href="javascript:void(0)" @click="await scan()">Scan Library Files</a></span>
        <span x-show="showScanResult" @click.away="showScanResult = false" x-text="scanResult"></span>
    </div>
    <div class="flex--col flex--no-gap">
        <span>⦿ <a class="flex__key--list" href="javascript:void(0)" @click="await thumbnails()">Generate Thumbnails</a></span>
        <span x-show="showThumbnailsResult" @click.away="showThumbnailsResult = false" x-text="thumbnailsResult"></span>
    </div>
</div>
{{ end }}