{{ define "title" }}Create User{{ end }}

{{ define "scripts" }}
<script type="module">
    import * as API from {{ versioning "/static/js/api.js" }}

    document.addEventListener('alpine:init', () => {
        Alpine.data('user_create', () => ({
            username: "",
            password: "",
            admin: false,
            showModal: false,
            modalText: "",

            async create() {
                let type = this.admin ? 'admin': 'standard'
                await API.Admin.CreateUser(this.username, this.password, type)
                    .then(() => {
                        this.modalText = 'SUCCESS'
                    })
                    .catch(() => {
                        this.modalText = 'ERROR ENCOUNTERED'
                    })
                this.showModal = true
            }
        }))
    })
</script>
{{ end }}

{{ define "content" }}
<div x-data="user_create">
    <!-- Username -->
    <div class="flex--row">
        <h3 class="flex__key--centered flex__key--less-padding">Username:</h3>
        <label class="flex__key--less-padding">
            <input type="text" placeholder="Username" x-model="username">
        </label>
    </div>
    <!-- Password -->
    <div class="flex--row">
        <h3 class="flex__key--centered flex__key--less-padding">Password:</h3>
        <label class="flex__key--less-padding">
            <input type="password" placeholder="Password" x-model="password">
        </label>
    </div>
    <!-- Is Admin -->
    <div class="flex--row">
        <h3 class="flex__key--centered flex__key--less-padding">Admin:</h3>
        <label class="flex__key--less-padding">
            <input type="checkbox" x-model="admin">
        </label>
    </div>
    <!-- Create Button -->
    <button class="form-button" @click="await create()">New User</button>
    <!-- Modal -->
    <div x-cloak>
        <div  x-show="showModal" class="modal">
            <div @click.away="showModal = false" x-show="showModal" x-transition class="modal__content">
                <span class="modal__close-button" @click="showModal = false">&times;</span>
                <h3 x-text="modalText"></h3>
            </div>
        </div>
    </div>
</div>
{{ end }}