{{ define "title" }}Edit User{{ end }}

{{ define "scripts" }}
<script type="module">
    import * as API from {{ versioning "/static/js/api.js" }}

    document.addEventListener('alpine:init', () => {
        Alpine.data('user_edit', () => ({
            uid: "",
            username: "",
            password: "",
            admin: false,
            showModal: false,
            modalText: "",
            open: false,

            async init() {
                const user = {{ user . }}

                this.uid = user.hash
                this.username = user.name
                this.admin = user.type === 'admin';
            },

            async edit() {
                let type = this.admin ? 'admin': 'standard'
                await API.Admin.EditUser(this.uid, this.username, this.password, type)
                    .then(() => {
                        return API.User.IsAdmin()
                    })
                    .then(admin => {
                        if (!admin) {
                            window.location.replace('/login')
                        } else {
                            window.location.replace('/admin/users')
                        }
                    })
                    .catch(() => {
                        this.modalText = 'FAILED'
                        this.showModal = true
                    })
            }
        }))
    })
</script>
{{ end }}

{{ define "content" }}
<div x-data="user_edit">
    <h2>Edit User</h2>
    <!-- Username -->
    <div class="flex--row">
        <h3 class="flex__key--centered flex__key--less-padding">Username:</h3>
        <label class="flex__key--less-padding">
            <input type="text" placeholder="Username" x-model="username">
        </label>
    </div>
    <!-- Admin -->
    <div class="flex--row">
        <h3 class="flex__key--centered flex__key--less-padding">Admin:</h3>
        <label class="flex__key--less-padding">
            <input type="checkbox" x-model="admin">
        </label>
    </div>
    <!-- Password -->
    <button @click="open = !open">Change Password</button>
    <div class="flex--row" x-show="open" @click.away="open = false">
        <h3 class="flex__key--centered flex__key--less-padding">New Password:</h3>
        <label class="flex__key--less-padding">
            <input type="password" placeholder="Password" x-model="password">
        </label>
    </div>
    <!-- Modal -->
    <div x-cloak>
        <div  x-show="showModal" class="modal">
            <div @click.away="showModal = false" x-show="showModal" x-transition class="modal__content">
                <span class="modal__close-button" @click="showModal = false">&times;</span>
                <h3 x-text="modalText"></h3>
            </div>
        </div>
    </div>
    <!-- Save Button -->
    <button class="form-button" @click="await edit()">Save</button>
</div>
{{ end }}