{{ define "title" }}Edit User{{ end }}

{{ define "scripts" }}
<script src='{{versioning "/static/js/api.js"}}'></script>
<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('createUser', () => ({
            username: "",
            password: "",
            admin: false,
            showModal: false,
            modalText: "",

            async create() {
                let uType = 'admin'
                if (!this.admin) {
                    uType = 'standard'
                }

                let resp = await apiAdminUserCreate(this.username, this.password, uType)

                if (resp === undefined) {
                    this.modalText = 'ERROR ENCOUNTERED'
                    this.showModal = true
                } else if (!resp.success) {
                    if (resp.message !== undefined && resp.message.length > 0) {
                        this.modalText = 'FAILED: ' + resp.message.toUpperCase()
                    } else {
                        this.modalText = 'FAILED'
                    }
                    this.showModal = true
                } else {
                    this.modalText = 'SUCCESS'
                    this.showModal = true
                }
            }
        }))
    })
</script>
{{ end }}

{{ define "content" }}
<div x-data="createUser">
    <div class="flex_div">
        <h3 class="flex_key">Username:</h3>
        <label class="flex_value">
            <input type="text" placeholder="Username" x-model="username">
        </label>
    </div>

    <div class="flex_div">
        <h3 class="flex_key">Password:</h3>
        <label class="flex_value">
            <input type="password" placeholder="Password" x-model="password">
        </label>
    </div>

    <div class="flex_div">
        <h3 class="flex_key">Admin:</h3>
        <label class="flex_value">
            <input type="checkbox" x-model="admin">
        </label>
    </div>

    <div x-cloak>
        <div  x-show="showModal" class="modal">
            <div @click.away="showModal = false" x-show="showModal" x-transition class="modal-content">
                <span class="close" @click="showModal = false">&times;</span>
                <h3 x-text="modalText"></h3>
            </div>
        </div>
    </div>

    <p>
        --------------------<br>
        <button @click="await create()">New User</button>
    </p>

</div>
{{ end }}