{{ define "title" }}Download Manager{{ end }}

{{ define "scripts" }}
<script type="module">
    import manager from {{ "/static/js/components/mangadex-manager.js"}}
    document.addEventListener('alpine:init', () => {
        Alpine.data('manager', manager)
    })
</script>
{{ end }}

{{ define "content" }}
<div x-data="manager">
    <h2>Mangadex</h2>
    <h3>Download Manager</h3>

    <template x-if="!loaded">
        <h4>Connecting to Server...</h4>
    </template>


    <template x-if="downloads.length === 0 && loaded">
        <h4>No Downloads</h4>
    </template>

    <template x-if="downloads.length > 0 && loaded">
        <div>
            <div class="flex--row" style="margin-bottom: 25px; justify-content: center">
                <button @click="deleteAll">Delete All Downloads</button>
                <button @click="deleteSuccessful">Delete Successful Downloads</button>
                <button @click="retryFailed">Retry Failed Downloads</button>
                <button @click="pauseDl" x-show="!paused">Pause Downloads</button>
                <button @click="resumeDl" x-show="paused">Resume Downloads</button>
                <button @click="cancelDl">Cancel Downloads</button>
            </div>

            <template x-if="waiting">
                <p x-text="waitingText" style="justify-content: center; text-align: center"></p>
            </template>

            <table>
                <thead>
                <tr>
                    <th>Manga</th>
                    <th>Volume</th>
                    <th>Chapter</th>
                    <th>Progress</th>
                    <th>Time</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <template x-for="d in downloads">
                    <tr>
                        <td><span x-text="d.manga_title"></span></td>
                        <td><span x-text="d.chapter.volume_no ? d.chapter.volume_no : '-N/A-'"></span></td>
                        <td><span x-text="d.chapter.chapter_no ? d.chapter.chapter_no : '-N/A-'"></span></td>
                        <td><span x-text="fmtPercent(d.current_page / d.total_pages)"></span></td>
                        <td><span x-text="d.time_taken"></span></td>
                        <td><span x-text="d.status"></span></td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
    </template>
</div>
{{ end }}