{{ define "title" }}Mangadex{{ end }}

{{ define "scripts" }}
<script type="module">
    const uid = {{ mangadexUid . }};
    import mangadex from {{versioning "/static/js/components/mangadex-download.js"}}
    document.addEventListener('alpine:init', () => {
        Alpine.data('mangadex', () => { return mangadex(uid) })
    })
</script>
{{ end }}

{{ define "content" }}
<div x-data="mangadex">
    <h2>Mangadex</h2>
    <h3>Download</h3>

    <template x-if="data !== {}">
        <div class="flex--row" style="margin-bottom: 30px">
            <img :src="data.src" style="max-width: 160px">
            <div class="flex--col">
                <span style="font-weight: bold" x-text="data.title"></span>
                <span x-text="data.description"></span>
            </div>
        </div>
    </template>

    <button id="downloadButton" @click="downloadChapters" style="margin-bottom: 25px" disabled>Download Selected Chapters</button>

    <template x-if="chapters.length > 0">
        <div class="search" style="margin-bottom: 0">
            <input x-model="search" class="search__bar" placeholder="Search..." type="text">
        </div>
    </template>
    <table>
        <thead>
            <tr>
                <th><input type="checkbox" @change="selectAll"></th>
                <th>Volume</th>
                <th>Chapter</th>
                <th>Title</th>
                <th>Scanlation Group</th>
                <th>Last Updated</th>
            </tr>
        </thead>
        <tbody>
            <template x-for="(c, index) in filteredChapters">
                <tr>
                    <td><input x-model="checkboxes[index]" type="checkbox"></td>
                    <td><span x-text="c.volume"></span></td>
                    <td><span x-text="c.chapter"></span></td>
                    <td><span x-text="c.title ? c.title : '-N/A-'"></span></td>
                    <td><span x-text="c.scanlation_group"></span></td>
                    <td><span x-text="c.updatedAt"></span></td>
                </tr>
            </template>
        </tbody>
    </table>
</div>
{{ end }}