{{ define "title" }}Download{{ end }}

{{ define "content" }}
<div>
    <h2>Download</h2>
    <div class="flex--row">
        <span class="flex__key--centered flex__key--list">⦿ <a href="/download/mangadex">Search Mangadex</a></span>
    </div>
    <div class="flex--row">
        <span class="flex__key--centered flex__key--list">⦿ <a href="/download/manager">Download Manager</a></span>
    </div>
</div>
{{ end }}