{{ define "title" }}Home{{ end }}

{{ define "scripts" }}
<script type="module">
    import createCatalog from {{versioning "/static/js/components/catalog.js"}}

    const _entries = {{ catalog }}
    const _progress = {{ catalogProgress . }}

    document.addEventListener('alpine:init', () => {
        Alpine.data('catalog', () => { return createCatalog(_entries, _progress) })
    })
</script>
{{ end }}

{{ define "content" }}
<div x-data="catalog">
    <h2>Library</h2>
    <template x-if="entries.length === 0">
        <h3>Empty!</h3>
    </template>

    <template x-if="entries.length > 0">
        <div class="search">
            <input x-model="search" class="search__bar" placeholder="Search..." type="text">
        </div>
    </template>

    <div class="entries">
        <template x-for="e in filteredEntries">
            <a class="no-bottom" :href="`/entries/${e.hash}`">
                <div class="entry" :style="`flex: 0 1 auto; max-width: ${imageWidth()}px`">
                    <img class="entry__img" :src="images[e.order - 1].src">
                    <div class="entry__info" >
                        <h4 class="entry__title" x-text="e.title"></h4>
                        <span x-text="`Entries: ${e.entries}`"></span><br>
                        <span x-text="fmtProgress(progress[e.hash])"></span>
                    </div>
                </div>
            </a>
        </template>
    </div>
</div>
{{ end }}