{{ define "title" }}Tag{{ end }}

{{ define "scripts" }}
<script type="module">
    import createST from {{versioning "/static/js/components/specific-tag.js"}}

    const _entries = {{ seriesWithTag . }}

    document.addEventListener('alpine:init', () => {
        Alpine.data('specificTag', () => { return createST(_entries) })
    })
</script>
{{ end }}

{{ define "content" }}
<div x-data="specificTag">
    <template x-if="entries.length > 0">
        <h2 x-text="`Tag: ${tag}`"></h2>
    </template>

    <template x-if="entries.length > 0">
        <div class="search">
            <input x-model="search" class="search__bar" placeholder="Search..." type="text">
        </div>
    </template>

    <div class="entries">
        <template x-for="(e, index) in filteredEntries">
            <a class="no-bottom" :href="`/entries/${e.sid}`">
                <div class="entry" :style="`flex: 0 1 auto; max-width: ${imageWidth()}px`">
                    <img class="entry__img" :src="getThumbnail(e.sid)">
                    <div class="entry__info" >
                        <h4 class="entry__title" x-text="e.display_title || e.folder_title"></h4>
                        <span x-text="`Entries: ${e.num_entries}`"></span><br>
                    </div>
                </div>
            </a>
        </template>
    </div>
</div>
{{ end }}