{{ define "title" }}Subscription Manager{{ end }}

{{ define "scripts" }}
<script type="module">
    import manager from {{versioning "/static/js/components/subscription-manager.js"}}
    let _subscriptions = {{ subscriptions . }};
    document.addEventListener('alpine:init', () => {
        Alpine.data('manager', () => {return manager(_subscriptions)})
    })
</script>
{{ end }}

{{ define "content" }}
<div x-data="manager">
    <h2 id="subHeading">Subscriptions</h2>
    <h3 x-show="subscriptions.length === 0">No Subscriptions!</h3>

    <template x-if="subscriptions.length > 0">
        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; row-gap: 0.8em; column-gap: 4px;">
            <!-- Table Headings -->
            <b><span style="grid-column: 1; grid-row: 0">Title</span></b>
            <b><span style="grid-column: 2; grid-row: 0">Last Updated</span></b>
            <b><span style="grid-column: 3; grid-row: 0">Actions</span></b>
            <!-- Title -->
            <template x-for="(sub, index) in subscriptions">
                <span x-text="sub.title" :style="`grid-column: 1; grid-row: ${index + 2}`"></span>
            </template>
            <!-- Last Updated -->
            <template x-for="(sub, index) in subscriptions">
                <span x-text="fmtDate(sub.mangadex_last_published_at)" :style="`grid-column: 2; grid-row: ${index + 2}`"></span>
            </template>
            <!-- Actions -->
            <template x-for="(sub, index) in subscriptions">
                <span :style="`grid-column: 3; grid-row: ${index + 2}`">
                    <a href="javascript:void(0)" @click="deleteSub(sub.sid)">DELETE</a>
                </span>
            </template>
        </div>
    </template>
</div>
{{ end }}